:root {
    --branco: #ffffff;
    --vinho: #7A1018;
    --vinho-escuro: #5A1419;
    --creme: #F0ECE6;
    --marrom-escuro: #4A2F18;
    --mostarda: #D39B36;
    --marrom: #A56E3C;
    --azul: #23374B;
    --text: #3a2310;
    --preto: #000000;
    --shadow: rgba(44, 26, 14, 0.12);
}

/*(remove estilos padrão do navegador) */
* {
    margin: 0;
    /* remove margem padrão */
    padding: 0;
    /* remove espaçamento interno padrão */
    box-sizing: border-box;
    /* facilita cálculo de tamanho */
    cursor: default;
    /* define cursor padrão */
}

body {
    font-family: 'DM Sans', sans-serif;
    background: var(--creme);
    color: var(--text);
    overflow-x: hidden;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}